/********************************* PRACTICES TIMELINE  ********************************/

.timeline {
    position: relative;
    margin-top: 100px;
}

.timeline::before {
    content: '';
    position: absolute;
    margin: 0;
    position: absolute;
    left: 50%;
    width: 1.5px;
    background: #808080;
    z-index: 1;
}

.inspiration-timeline::before {
    transform: translate(-50%, -52%);
    height: 1250px;
    top: 650px;
}

.ideation-timeline::before {
    transform: translate(-50%, -51%);
    height: 2370px;
    top: 1215px;
}

.implementation-timeline::before {
    transform: translate(-50%, -51.2%);
    height: 1140px;
    top: 580px;
}

.timeline-block {
    margin-bottom: 50px;
}

.timeline-img {
    display: block;
    margin: 0 auto;
    padding-top: 25px;
    width: 100%;
}

.date {
    font-family: 'Source Sans Pro', serif;
    font-size: 18px;
}

.timeline-content h3 {
    font-family: 'Source Sans Pro', serif;
    font-weight: bold;
    font-size: 20px;
}

.timeline-content p {
    line-height: 1.8;
    font-size: 14px;
}

.timeline-content-left {
    padding-left: 0;
    text-align: right;
}

.timeline-content-right {
    padding-right: 0;
}

.marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #567151;
    background: #567151;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.urban-info {
    font-style: italic;
    text-align: center;
}

@media (max-width: 995px) {
    .timeline::before {
        display: none;
    }
    .marker {
        display: none;
    }
}


/********************************* END PRACTICES TIMELINE  ********************************/


/* Typography */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}


/* Tab */

.tab-section-01 .content>.tab-pane {
    display: none;
}

.tab-section-01 .content>.active {
    display: block;
}

.tab-section-01 .content p:last-of-type {
    margin-bottom: 0;
}

.tab-section-01 .tabs li {
    display: inline-block;
    border: 3px solid #a0e0bd;
}

.tab-section-01 .tabs li a {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.2em;
    font-size: 12px;
}

.tab-section-01.style-1 .tabs li {
    margin-right: 5px;
}

.tab-section-01.style-1 .tabs li a {
    font-size: 12px;
    font-weight: 700;
    outline: none;
    padding: 10px 30px;
    color: #000;
}

.tab-section-01.style-1 .tabs li.active a,
.tab-section-01.style-1 .tabs li.active a:focus,
.tab-section-01.style-1 .tabs li.active a:hover {
    color: #ffffff;
    background-color: #567151;
    border-color: #567151;
    cursor: default;
}

.tab-section-01.style-1 .tabs li:hover a {
    background-color: #ffffff;
}

.tab-section-01.style-2 .content {
    padding: 35px;
    border: 1px solid #dddddd;
    border-top: none;
}

.tab-section-01.style-2 .tabs {
    position: relative;
    letter-spacing: -4px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.tab-section-01.style-2 .tabs>li {
    letter-spacing: 0;
    margin-right: -1px;
    margin-bottom: -1px;
}

.tab-section-01.style-2 .tabs>li:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: transparent;
}

.tab-section-01.style-2 .tabs>li a {
    padding: 10px 30px;
}

.tab-section-01.style-2 .tabs>li a:hover {
    background-color: #eeeeee;
}

.tab-section-01.style-2 .tabs>li.active {
    border-bottom-color: white;
    border-top: 1px solid #30b397;
}

.tab-section-01.style-2 .tabs>li.active:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #30b397;
}

.tab-section-01.style-2 .tabs>li.active a,
.tab-section-01.style-2 .tabs>li.active a:hover,
.tab-section-01.style-2 .tabs>li.active a:focus {
    cursor: default;
    background-color: #ffffff;
}

.tab-section-01.style-3 .content {
    padding: 35px;
    border: 1px solid #dddddd;
    border-top: none;
}

.tab-section-01.style-3 .tabs {
    position: relative;
    letter-spacing: -4px;
    text-align: right;
    border-bottom: 1px solid #dddddd;
}

.tab-section-01.style-3 .tabs>li {
    letter-spacing: 0;
    margin-right: -1px;
    margin-bottom: -1px;
}

.tab-section-01.style-3 .tabs>li:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: transparent;
}

.tab-section-01.style-3 .tabs>li a {
    padding: 10px 30px;
}

.tab-section-01.style-3 .tabs>li a:hover {
    background-color: #eeeeee;
}

.tab-section-01.style-3 .tabs>li.active {
    border-bottom-color: white;
    border-top: 1px solid #30b397;
}

.tab-section-01.style-3 .tabs>li.active:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #30b397;
}

.tab-section-01.style-3 .tabs>li.active a,
.tab-section-01.style-3 .tabs>li.active a:hover,
.tab-section-01.style-3 .tabs>li.active a:focus {
    cursor: default;
    background-color: #ffffff;
}

@media (max-width: 767px) {
    .tab-section-01 .tabs li {
        display: block;
        margin-bottom: 20px;
    }
    .tab-section-01 .tabs li a {
        width: 100%;
        padding: 10px 35px;
    }
}


/******************** GENERAL PAGES START ********************/

@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Raleway');
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-size: 40px 40px;
}

p {
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

nav {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 100px;
    background-color: #a0e0bd;
    height: 98px;
}

.nav-bar-logo {
    vertical-align: top;
    display: inline-block;
    float: left;
    margin-left: 80px;
    margin-top: -5px;
}

.nav-bar-logo img {
    width: 140px;
}

.nav-bar-main-menu {
    font-family: 'Raleway', sans-serif;
}

.banner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.home-banner-logo {
    height: 250px;
    width: 35%;
    padding-top: 170px;
    margin-right: -400px;
}

.home-banner-wrapper {
    background: #a0e0bd;
    height: 400px;
    width: 100%;
}

.home-banner-plants {
    height: 400px;
    width: 80%;
}

.dropbtn {
    background-color: transparent;
    text-decoration: none;
    padding: 15px;
    margin: 0px;
    font-size: 15px;
    border: none;
    color: #fff;
}

@media (max-width: 1050px) {
    .dropbtn {
        font-size: 12px;
    }
}

.dropdown {
    position: relative;
    vertical-align: top;
    display: inline-block;
    float: right;
}

.dropdown ul {
    list-style-type: none;
}

.dropdown a {
    position: relative;
    display: inline-block;
    color: #e8b023;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #016c64;
    color: #ffffff;
    width: 200px;
    font-size: 14px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.toolkit-dropdown-content {
    width: 720px;
    left: -160px;
}

.modeling-dropdown-content {
    left: -40px;
}

.human-dropdown-content {
    left: 12px;
}

.outreach-dropdown-content {
    width: 230px;
    left: -40px;
}

.team-dropdown-content {
    width: 140px;
    left: -35px;
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.wet-lab-list-title,
.doc-list-title,
.pd-list-title {
    padding-top: 12px;
    padding-left: 16px;
    padding-bottom: 14px;
}

.nav-second-col {
    margin-left: 30px;
}

.nav-third-col {
    margin-left: 30px;
}

.dropbtn:hover,
.active-page {
    color: #016c64;
    transition-duration: 0.5s;
}

.dropdown-content a:hover {
    background-color: #a0e0bd !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    padding: 35px;
    position: relative;
    text-align: center;
    background-color: #a0e0bd;
}

.footer-wrapper {
    margin: auto;
    display: inline-block;
}

.icon-wrapper {
    display: inline-block;
    position: relative;
    padding-right: 18px;
    border-right: 0.5px solid white;
}

.icon-wrapper-last {
    border-right: none;
}

.icon {
    margin: 16px;
}

.icon img {
    height: 24px;
}


/******************** GENERAL PAGES END ********************/


/******************** Entrepreneurship PAGE START ********************/

.content-title {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    position: relative;
    margin-bottom: 40px;
    text-align: center;
}

.text-justify {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 60px;
}

.timeline-block .text-justify {
    color: #949494;
    font-size: 14px;
}

.references {
    color: #949494;
    margin-bottom: 60px;
}

.timeline-button-wrapper {
    text-align: center;
}

.entrepreneurship-page-banner {
    background-color: #a0e0bd;
    font-size: 10px;
}

.entrepreneurship-page-content-wrapper {
    padding: 80px 80px 0px 80px;
}

.entrepreneurship-page-content-wrapper hr {
    margin-top: 60px;
    margin-bottom: 50px;
}

.entrepreneurship-tab-content {
    margin-top: 80px;
}

.match-my-cols {
    border: 1px solid;
    border-bottom: 0px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 100px;
}

.row .match-my-cols {
    overflow: hidden;
}

.practices .row {
    padding-top: 0;
}

.content-wrapper {
    padding: 100px 200px 100px 200px;
    font-family: 'Crimson Text', serif;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 25px;
    text-align: left;
    color: rgba(7, 7, 7, 0.7);
    line-height: normal;
}


/******************** Entrepreneurship PAGE END ********************/


/******************** Entrepreneurship PAGE GRID START ********************/

nav {
    grid-area: navbar;
}

.nav-bar-main-menu .dropdown:nth-child(5) .dropdown-contentx {
    display: grid;
    grid-template-columns: auto auto auto;
}

.nav-first-col {
    display: inline-grid;
}

.nav-second-col {
    display: inline-grid;
}

.nav-third-col {
    display: inline-grid;
}

nav {
    grid-area: navbar;
}

.entrepreneurship-page-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 550px auto 100px;
    grid-template-areas: 'navbar' 'entrepreneurshippagebanner' 'pandppagecontent' 'footer';
}

.entrepreneurship-page-banner {
    grid-area: entrepreneurshippagebanner;
}

.entrepreneurship-page-content-wrapper {
    grid-area: pandppagecontent;
}

footer {
    grid-area: footer;
}


/******************** Entrepreneurship PAGE GRID END ********************/