/******************** ALL FONTS START ********************/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'PT Serif', serif;
}

.dropbtn, .dropdown-content {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.standard-page-banner > svg > text, .standard-page-content-title, .standard-page-side-bar-wrapper {
    font-family: 'Lato', sans-serif;
}

.standard-page-side-bar-wrapper{
    position: fixed;
    top: 20px;
    left: 20px;
    display: block;
}
.tile-title {
    font-family: 'Lato', sans-serif;
}

/******************** ALL FONTS END ********************/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-size: 40px 40px;
}

p {
    color: #000;
    /* font-family: 'Open Sans', sans-serif; */
}

nav {
    padding-top: 15px;
    padding-right: 40px;
    background-color: #161616;
    height: 90px;
}

.nav-bar-logo {
    vertical-align: top;
    display: inline-block;
    float: left;
    margin-left: 40px;
    margin-top: 20px;
}

.nav-bar-logo img {
    width: 140px;
}

.nav-bar-wrapper {
  height: 80px;
}

.dropbtn {
    background-color: transparent;
    text-decoration: none;
    padding: 15px;
    margin: 0px;
    border: none;
    color: #fff;
}

@media (max-width: 1050px) {
    .dropbtn {
        font-size: 12px;
    }
}



.dropdown {
    position: relative;
    vertical-align: top;
    display: inline-block;
    float: right;
    margin-top: 10px;
}

.dropdown ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.dropdown a {
    position: relative;
    display: inline-block;
    color: #e8b023;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #540B0E;
    color: #ffffff;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a:hover {
    background-color: #9E2A2B !important;
}

.toolkit-dropdown-content {
    width: 500px;
    left: -160px;
}

.modeling-dropdown-content {
    left: -40px;
}

.human-dropdown-content {
    left: 12px;
}

.outreach-dropdown-content {
    width: 230px;
    left: -40px;
}

.team-dropdown-content {
    width: 140px;
    left: -35px;
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none !important;
    display: block;
}

.wet-lab-list-title,
.doc-list-title,
.pd-list-title {
    padding-top: 12px;
    padding-left: 16px;
    padding-bottom: 14px;
    text-decoration: underline;
}

.nav-second-col {
    margin-left: 30px;
}

.nav-third-col {
    margin-left: 30px;
}

.dropbtn:hover,
.active-page {
    color: #E89E2B;
    transition-duration: 0.5s;
}

.active-nav {
  color: #E89E2B;
}

.dropdown-content a:hover {
    color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.standard-page-banner {
  width: 100%;
  margin-top:-5px;
}

footer {
    padding: 35px;
    width: 100%;
    bottom: 0px;
    text-align: center;
    background-color: #161616;
}

.footer-wrapper {
    margin: auto;
    display: inline-block;
}

.icon-wrapper {
    display: inline-block;
    position: relative;
    padding-right: 18px;
    border-right: 0.5px solid white;
}

.icon-wrapper-last {
    border-right: none;
}

.icon {
    margin: 16px;
}

.icon img {
    height: 24px;
}


/******************** SPECIFIC PAGES START ********************/

.notebook-page-content-wrapper,
.safety-page-content-wrapper,
.about-page-content-wrapper,
.attributions-page-content-wrapper {
    padding-bottom: 5%;
}

.notebook-content-wrapper,
.safety-content-wrapper,
.about-content-wrapper,
.attributions-page-content-wrapper {
    padding-right: 100px;
    padding-left: 90px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.notebook-header-text,
.safety-header-text,
.about-header-text {
    font-size: 24pt;
    text-align: center;
    color: #000;
}

.notebook-text-wrapper,
.safety-text-wrapper,
.about-text-wrapper,
.attributions-text-wrapper {
    padding-left: 100px;
    padding-top: 20px;
}

.notebook-body-text,
.safety-body-text,
.about-body-text {
    color: #000;
}


/******************** SPECIFIC PAGES END ********************/


/******************** HOME PAGE START ********************/

.home-banner-wrapper {
    position: relative;
    background: #161616;
    width: 100%;
    margin-top: -5px;
}

.home-banner img {
  width: 100%;
  margin-top: 1px;
}

.text {
  font-family: 'PT Serif';
  font-size: 24px;
}

.graphic-text {
  font-family: 'PT Serif';
  font-size: 24px;
}

.text{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.containertext {
  text-align: center;
  margin: 0px;
  font-family: 'PT Serif';
  font-size: 24px;
}

.graphic-container{
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 100px;
}

.graphic{
    vertical-align: middle;
    border-style: none;
}

.graphic img{
    width: 35%;
    float: left;
}

.graphic-text{
    float: right;
    width: 60%;
    padding-top: 30px;
    padding-bottom: 50px;
}

.hometrichotherapy {
  padding-right: 30px;
}

.homedoctor {
  padding-left: 30px;
}

/******************** HOME PAGE END ********************/


/******************** STANDARD PAGE START ********************/

.standard-page-side-bar-content-wrapper {
  margin-top: -5%;
}

.standard-page-side-bar>li>a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

.standard-page-side-bar {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 15px;
    vertical-align: middle;
    padding-top: 10%;
}

.standard-page-side-bar>li {
    margin-bottom: 15px;
}

.standard-page-content-title {
    font-size: 24px;
    color: #000 !important;
    position: relative;
}

.yellow-accent-line-left {
    border: #E89E2B solid 1px;
    display: block;
    float: left;
    margin: 1em auto 1em auto;
    width: 80px;
}

.standard-page-content-subheading {
    font-size: 18px;
    font-weight: 1;
    color: #000;
    padding-top: 40px;
    padding-bottom: 0;
}

.standard-page-content-section {
    margin-top: 40px;
    margin-bottom: 40px;
}


/******************** STANDARD PAGE END ********************/


/********************* PARTS PAGES START ********************/

.parts-table table {
  border: 1px solid black;
}

.parts-table th, td {
  padding: 25px;
  border-bottom: 1px solid #797979;

}

.parts-table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.parts-table th {
  text-align: left;
}

.parts-table table {
  border-spacing: 5px;
}

.composite-table {
  margin-left: -20%;
}


/******************* PARTS PAGES END **********************/


/******************** TEAM PAGE START ********************/

.bios-row {
  padding-bottom: 150px;
}

.bios-images-left img {
  width: 350px;
  float: left;
  padding-right: 50px;
}

.bios-images-left {
  width: 10%;
}

.bios-images-right img {
  width: 350px;
  float: right;
  padding-left: 50px;
}

.bios-details-left {
  float: left;
  padding-right: 50px;
}

.bios-details-right {
  float: right;
  padding-left: 50px;
}

.bio-name {
  font-family: "Lato";
  font-size: 26px;
}

.bio-major {
  font-family: "Lato";
  font-size: 18px;
}

.bio-text {
  font-family: "PT Serif";
  font-size: 16px;
}

/******************** TEAM PAGE END ********************/


/******************** NOTEBOOK PAGE START ********************/

.notebook-page-banner {
    background-color: #a0e0bd;
}

.notebook-page-content-wrapper {
    padding-bottom: 5%;
}

.notebook-content-wrapper {
    padding-right: 100px;
    padding-left: 90px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.notebook-header-text {
    font-size: 24pt;
    text-align: center;
    color: #000;
}

.notebook-text-wrapper {
    padding-top: 20px;
}

.notebook-body-text {
    color: #000;
    margin-top: 20px;
}

#safety-hyperlink {
    color: #c93843;
}


/******************** NOTEBOOK PAGE END ********************/


/******************** SPONSORS PAGE START ********************/

.sponsors-page-banner {
    background-color: #a0e0bd;
}

.sponsors-page-content-wrapper {
    background: #fff;
    padding: 5% 0;
}

.sponsor-image-wrapper,
.sponsor-description-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
}

.sponsor-description-wrapper {
    display: table;
}

.sponsor-image {
    display: block;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}

.sponsor-description-wrapper {
    margin-left: 100px;
}

.sponsor-description {
    display: table-cell;
    /* font-family: 'Open Sans', sans-serif; */
    vertical-align: middle;
    font-size: 16px;
}


/******************** SPONSORS PAGE END ********************/


/******************** ATRIBUTIONS PAGE START ********************/

.attributions-page-banner {
    background-color: #a0e0bd;
}

.attributions-body-text {
    /* font-family: 'Open Sans', serif; */
    font-size: 16px;
    color: #000;
}


/******************** ATTRIBUTIONS PAGE END ********************/

/******************** DEMONSTRATIONS PAGE START ********************/
.standard-page-content-text img{
    width: 600px;
    height: 400px;
    display: block;
    margin: auto;
    margin-top: 80px;
}
/******************** DEMONSTRATIONS PAGE END ***********************/

/******************** ENTREPRENEURSHIP PAGE START ********************/

.entrepreneurship-page-banner {
    background-color: #a0e0bd;
}


/******************** ENTREPRENEURSHIP PAGE END ********************/
/************************* TIME LINE ********************************/
/********************************* PRACTICES TIMELINE  ********************************/

.timeline {
    position: relative;
    margin-top: 100px;
}

.timeline::before {
    content: '';
    position: absolute;
    margin: 0;
    position: absolute;
    left: 50%;
    width: 1.5px;
    background: #808080;
    z-index: 1;
}

.inspiration-timeline::before {
    transform: translate(-50%, -52%);
    height: 2750px;
    top: 1420px;
}

.ideation-timeline::before {
    transform: translate(-50%, -51%);
    height: 1990px;
    top: 1000px;
}

.timeline-block {
    margin-bottom: 50px;
}

.timeline-img {
    display: block;
    margin: 0 auto;
    padding-top: 25px;
    width: 100%;
}

.date {
    font-family: 'Source Sans Pro', serif;
    font-size: 18px;
}

.timeline-content h3 {
    font-family: 'Source Sans Pro', serif;
    font-weight: bold;
    font-size: 20px;
}

.timeline-content p {
    line-height: 1.8;
    font-size: 14px;
}

.timeline-content-left {
    padding-left: 0;
    text-align: right;
}

.timeline-content-right {
    padding-right: 0;
}

.marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #540B0E;
    background: #540B0E;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.urban-info {
    font-style: italic;
    text-align: center;
}

@media (max-width: 995px) {
    .timeline::before {
        display: none;
    }
    .marker {
        display: none;
    }
}


/********************************* END PRACTICES TIMELINE  ********************************/


/* Typography */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}


/* Tab */

.tab-section-01 .content>.tab-pane {
    display: none;
}

.tab-section-01 .content>.active {
    display: block;
}

.tab-section-01 .content p:last-of-type {
    margin-bottom: 0;
}

.tab-section-01 .tabs li {
    display: inline-block;
    border: 3px solid #540B0E;
}

.tab-section-01 .tabs li a {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.2em;
    font-size: 12px;
}

.tab-section-01.style-1 .tabs li {
    margin-right: 5px;
}

.tab-section-01.style-1 .tabs li a {
    font-size: 12px;
    font-weight: 700;
    outline: none;
    padding: 10px 30px;
    color: #000;
}

.tab-section-01.style-1 .tabs li.active a,
.tab-section-01.style-1 .tabs li.active a:focus,
.tab-section-01.style-1 .tabs li.active a:hover {
    color: #ffffff;
    background-color: #567151;
    border-color: #567151;
    cursor: default;
}

.tab-section-01.style-1 .tabs li:hover a {
    background-color: #ffffff;
}

.tab-section-01.style-2 .content {
    padding: 35px;
    border: 1px solid #dddddd;
    border-top: none;
}

.tab-section-01.style-2 .tabs {
    position: relative;
    letter-spacing: -4px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.tab-section-01.style-2 .tabs>li {
    letter-spacing: 0;
    margin-right: -1px;
    margin-bottom: -1px;
}

.tab-section-01.style-2 .tabs>li:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: transparent;
}

.tab-section-01.style-2 .tabs>li a {
    padding: 10px 30px;
}

.tab-section-01.style-2 .tabs>li a:hover {
    background-color: #eeeeee;
}

.tab-section-01.style-2 .tabs>li.active {
    border-bottom-color: white;
    border-top: 1px solid #30b397;
}

.tab-section-01.style-2 .tabs>li.active:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #30b397;
}

.tab-section-01.style-2 .tabs>li.active a,
.tab-section-01.style-2 .tabs>li.active a:hover,
.tab-section-01.style-2 .tabs>li.active a:focus {
    cursor: default;
    background-color: #ffffff;
}

.tab-section-01.style-3 .content {
    padding: 35px;
    border: 1px solid #dddddd;
    border-top: none;
}

.tab-section-01.style-3 .tabs {
    position: relative;
    letter-spacing: -4px;
    text-align: right;
    border-bottom: 1px solid #dddddd;
}

.tab-section-01.style-3 .tabs>li {
    letter-spacing: 0;
    margin-right: -1px;
    margin-bottom: -1px;
}

.tab-section-01.style-3 .tabs>li:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: transparent;
}

.tab-section-01.style-3 .tabs>li a {
    padding: 10px 30px;
}

.tab-section-01.style-3 .tabs>li a:hover {
    background-color: #eeeeee;
}

.tab-section-01.style-3 .tabs>li.active {
    border-bottom-color: white;
    border-top: 1px solid #30b397;
}

.tab-section-01.style-3 .tabs>li.active:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #30b397;
}

.tab-section-01.style-3 .tabs>li.active a,
.tab-section-01.style-3 .tabs>li.active a:hover,
.tab-section-01.style-3 .tabs>li.active a:focus {
    cursor: default;
    background-color: #ffffff;
}

@media (max-width: 767px) {
    .tab-section-01 .tabs li {
        display: block;
        margin-bottom: 20px;
    }
    .tab-section-01 .tabs li a {
        width: 100%;
        padding: 10px 35px;
    }
}
